{% extends "padre.html" %}

{% block title %} Cursos {% endblock %}

{% block content %}

<h2>Buscar Curso</h2>

<form method="GET" action="{% url 'buscar-cursos' %}">
    <input type="text" name="nombre" placeholder="Buscar curso..." value="{{ nombre }}">
    <button type="submit">Buscar</button>
</form>

<h2>Cursos: </h2>

<ul>
    {% for curso in cursos %}
        <li>{{ curso.nombre }}</li>
    {% empty %}
        <li>No hay cursos disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'crear-curso' %}">Agregar Curso</a>

{% endblock %}