{% extends "padre.html" %}
{% block content %}

<h2>Editar Perfil</h2>

  <!-- Formulario para actualizar datos y avatar -->
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
          <legend>Datos de Usuario</legend>
          {{ user_form.as_p }}
      </fieldset>
      <fieldset>
          <legend>Avatar</legend>
          {% if user.avatar and user.avatar.imagen %}
              <img src="{{ user.avatar.imagen.url }}" alt="Avatar de {{ user.username }}" width="100">
          {% endif %}
          {{ avatar_form.as_p }}
      </fieldset>
      <button type="submit" name="update_profile">Actualizar Perfil y Avatar</button>
  </form>

  <hr>

  <!-- Formulario para cambiar contraseña -->
  <form method="post">
      {% csrf_token %}
      <fieldset>
          <legend>Cambiar Contraseña</legend>          
          {{ password_form.as_p }}
      </fieldset>
      <button type="submit" name="change_password">Cambiar Contraseña</button>
  </form>

{% endblock %}